.mailingStyle{
    display: flex;
    justify-content: space-evenly;
}


.mailingStyle form{
    width: 35%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    border: 1px solid #808080;
    border-radius: 3px;
}

.contactInp{
    margin: 15px 0;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

.mapWrapper{
    margin: 5% auto;
}

#map{
    height: 400px;
    width: 600px;
}