.ComWrapper{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
    
.reviewPost{
    width: 50%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #808080;
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
}

.reviewPost a{
    position: absolute;
    top: -16px;
    right: -6px;
    font-size: 24px;
    background-color: black;
    border: 1px solid #808080;
    border-radius: 50%;
    padding: 0 8px;
}

.nextWrapper{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}


@media screen and (min-width:701px) and (max-width: 1100px){
    .ComWrapper{
        padding-top: 15%;
    }
}

@media screen and (max-width: 700px){
    .ComWrapper{
        padding-top: 35%;
        width: 90%;
    }
    .ComWrapper textarea{
        width: 100%;
        margin-top: 2%;
    }
    #reviewForm input{
        margin-bottom: 15px;
    }
    .nextBtn{
        margin: 5px;
    }
    .reviewPost{
        width: 90%;
    }
}

